/dropbox/*
!/dropbox/Cargo.toml
!/dropbox/src/
/dropbox/src/flow.txt

/sqlite-dropbox-test/*

/frontend/metadata_fields.txt
/frontend/css/fonts/
/frontend/res/

/tauri-test/

/db_lite/

/db/Cargo.lock
/db/*.db
/db/*.db-shm
/db/*.db-wal
/db/target/
