@import "variables.css";

@media (width >= 1800px) and (height >= 1000px) { /* for a 21" 1920×1080 display, with a little leeway */
  body {
    font-size: 1.8em !important;
  }
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: inherit;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--scrollbar);
}

@font-face {
  font-family: "Sedan";
  src: url("./fonts/SedanSC/SedanSC-Regular.ttf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-variable_wght.ttf") format(truetype) tech(variations);
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-italic-variable_wght.ttf") format(truetype) tech(variations);
  font-weight: 100 900;
  font-style: italic;
}

html, body {
  font-family: Montserrat;
  font-style: normal;

  margin: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
}

body {
  /* This application is only for Desktop, so fixed 100vh is okay */
  height: 100vh;
  font-size: 1.2em;

  display: flex;
  flex-flow: row nowrap;
}